/tmp/
*.aux
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glo
*.glg
*.gls
*.ilg
*.ind
*.idx
*.lst
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.dvi
*.pdf
*.synctex.gz
/main.pdf
/main.synctex.gz
/main.lst
